{# templates/message.txt #}

Hello {{ name }}!

I'm happy to inform you that you did very well on today's {{ test_name }}.
You reached {{ score }} out of {{ max_score }} points.

should not be any var: {{ no_var_here }} | no var

See you tomorrow!
Anke